{% extends 'base.html.twig' %}

{% block title %}Les objets disponibles{% endblock %}

{% block body %}

    <section class="container">
        <h1>Les objets disponibles immédiatement:</h1>
            <div class="row">
                <div class="card text-center col-xl-8 offset-xl-2">
                    <div class="card-header">
                    <h2>{{objet.name}}</h2>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="{{ asset("uploads/" ~ objet.thumbnail) }}" alt="{{objet.name}}">
                        <p class="card-text">{{objet.description}}</p>
                        {% if (app.user) and (objet.disponible == true)   %}
                        {# {% if (is_granted('ROLE_ADMIN')) or (app.user) and (objet.disponible == true)   %} #}
                            <a href="/borrow/{{objet.id}}" class="btn btn-primary">Emprunter</a>
                        {% endif %}
                    </div>
                    <div class="card-footer text-body-secondary">
                        {% if (app.user) and (objet.disponible == true) %}
                            Disponible
                            {% else %}
                                {% for date in objet.borrows %}
                                    Disponible à partir du {{date.endDate|date("d/m/Y")}}
                                {% endfor %}
                                
                        {% endif %}
                        
                        
                        
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
