{% extends 'base.html.twig' %}

{% block title %}Les objets disponibles{% endblock %}

{% block body %}

<section class="container">
    <h1>Les objets disponibles immédiatement:</h1>
        <div class="row">
        {% for objet in objets %}
            <div class="card m-3 col-md-5 col-lg-3 col-xl-3">
                <a href="/objet/{{objet.id}}"><img class="card-img-top" src="{{ asset("uploads/" ~ objet.thumbnail) }}" alt="{{objet.name}}">
                <div class="card-body">
                    <h2 class="card-title">{{objet.name}}</h2></a>
                    <p class="card-text">{{objet.description}}</p>
                    <small> {{objet.category.name }} ({{objet.category.points}}pts) </small>
                </div>
            </div>
        {% endfor %}
        </div>
</section>
{% endblock %}
